<div class="container mt-4">
  <h3 class="mb-4">Checkbox groups...</h3>
  <hr>
  <div *ngFor='let item of groups | keyvalue'>
      <div class="form-check">
          <input (change)='toggleAllSelected(item.key)' class="form-check-input" type="checkbox"
          [checked]='groupSelectAll[item.key]'>
          <label class="form-check-label text-capitalize">Select All {{item.key}}</label>
      </div>
      <hr>
      <div *ngFor='let val of groups[item.key]; index as i'>
          <div class="form-check">
              <input (change)='toggleCheckboxSelected(i, item.key)' class="form-check-input" type="checkbox"
              [checked]='val.isChecked'>
              <label class="form-check-label" [ngClass]="{'blue': val.isChecked}">
                  {{i + 1}}: {{val.name}}
              </label>
          </div>
      </div>
      <hr>
  </div>

</div>